*{
    margin: 0px;
    padding: 0px;
}
.wrapper {
    width: 970px;
    padding: 5px;
}
.banner img{
display: inline-block;
position: absolute;
top: 5px;
}
.banner h1{
    font-size: 4em;
    font-weight: lighter;
    display: inline-block;
    margin-left: 100px;
}
.banner span{
    color: #3c79ad;
}
.banner h2{
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 350;
    margin-left: 15px;
}
.banner div{
    display: block;
    background: linear-gradient(#245076, #3c79ad,#245076);
    padding: 5px;
    margin-top: 10px;
}
.area{
    background: linear-gradient(#e5e5e5 -50%, white, white);
    padding-top: 3px;
}
#sidebar{
    display: inline-block;
    vertical-align: top;
}
.info{
    font-weight: bolder;
    width: 225px;
}
.info span{
    color: #3c79ad;
}
.info strong{
    color: red;
}
.info p{
    margin: 20px;
    margin-left: 1px;
}
.video{
    width: 220px;
    height: 35px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    padding: 5px;
    padding-bottom: 20px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #3c79ad;
}
.resources{
    width: 220px;
    height: 35px;
    margin-left: 5px;
    font-size: 1em;
    padding: 5px;
    padding-bottom: 20px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ed9428;
    margin-bottom: 30px;
}
.ad{
     background-image: url(images/ad_background.png);
     width: 225px;
     justify-content: center;
     padding: 10px;
     margin-top: 30px;

}
.ad h1, .ad img, .ad button{
    display: block;
    color: #ffffff;
}
.ad h1{
    text-align: center;
}
.ad img{
    margin-left: 50px;
}
.ad button{
    width: 185px;
    height: 35px;
    margin-left: 22px;
    margin-top: 20px;
    padding: 5px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: #3dc9df;
    font-size: 1em;
    margin-bottom: 20px;
}
.content {
    display: inline-block;
    width: 700px;
    padding-left: 20px;
}
.content div: img{
    position: absolute;
}
.content div:first-child{
    display: inline-block;
    vertical-align: top;
}
.content h4{
    color: #3c79ad;
    margin-top: 10px;
    display: inline-block;
}
.content h3{
    color: #3c79ad;
    font-size: 1.3em;
}
.content span{
    color: #3dc9df;
}
ol, ul{
    padding-left: 50px;
    margin-top: 10px;
}
.contact{
    display: inline-block;
    position: relative;
    left: 425px;
    margin-bottom: 5px;
}
.contact img{
    display: inline-block;
}
.contact div{
    display: inline-block;
}
.contact p{
    font-size: .7em;
    text-align: center;
}
.contact h1{
    color: #3dc9df;
    font-size: 1.7em;
}
.main{
    padding-top: 5px;
}
#server{
    position: relative;
    left: 180px;
    margin: 20px;
}
.bottom{
    padding-top: 10px;
    border-top: solid 5px #3c79ad;
    border-left: solid 5px #3c79ad;
    border-right: solid 5px #3c79ad;
    margin-top: 15px;
}
.bottom img{
    display: inline-block;
    margin: 5px;
}
.bottom div{
    vertical-align: top;
    width: 540px;
    display: inline-block;
}
.bottom p{
    margin
}
.bottom p{
    margin-top: 10px;
}
.bottom a{
    text-decoration: none;
    color: #3c79ad;
}
